# Environment variables
.env

# Go build files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Dependency directories
vendor/

# Uploaded files
uploads/*
!uploads/.gitkeep

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db


